<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1.0, width=device-width" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <%= htmlWebpackPlugin.tags.headTags %>
  </head>
  <body>
    <%= htmlWebpackPlugin.tags.bodyTags %>
    <div class="myLogo">
      <img id="panaLogo" alt="panagora logo" />
    </div>
    <div class="links">
      <a><h3>Products</h3></a>
      <a><h3>About</h3></a>
    </div>
    <div class="data">
      <div id="myData" class="data__grid"></div>
    </div>

    <script src="/src/index.js" type="module"></script>
  </body>
</html>
